@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap");

.header-container {
	background-image: url("https://images.unsplash.com/photo-1525170700600-2355220a3365?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
	background-size: cover;
	background-position: bottom;
	background-attachment: fixed;
	background-repeat: no-repeat;
	min-height: 100vh;
}
.header-title {
	h1 {
		font-family: "Playfair Display", serif;
		font-size: 2rem;
	}
}

.header-main {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	width: 100%;
}

.nav-links {
	display: flex;
	justify-content: space-around;
	.nav-link {
		font-size: 1rem;
	}
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}
.active {
	color: rgb(223, 76, 210);
}
.nav-link:hover {
	border-bottom: 2px solid rgb(223, 76, 210);
}
.icon-wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 1px solid rgb(223, 76, 210);
	border-bottom: 1px solid rgb(223, 76, 210);
	width: 30%;
	padding: 15px;
	padding-bottom: 20px;
	overflow: hidden;
}
.left {
	justify-content: flex-start;
}

.right {
	justify-content: flex-end;
}
@media screen and (min-width: 320px) {
	html {
		font-size: calc(16px + 6 * ((100vw - 320px) / 680));
	}
}
@media screen and (min-width: 1000px) {
	html {
		font-size: 22px;
	}
}
#contact-a .text-fields {
	display: grid;
	grid-template-areas:
		"name email"
		"subject phone"
		"message message";
	grid-gap: 1.2rem;
	margin-bottom: 1.2rem;
}
#contact-a .text-fields .name-input {
	grid-area: name;
}
#contact-a .text-fields .subject-input {
	grid-area: subject;
}
#contact-a .text-fields .email-input {
	grid-area: email;
}
#contact-a .text-fields .phone-input {
	grid-area: phone;
}
#contact-a .text-fields .message-input {
	grid-area: message;
	height: 100px;
}
#contact-a .text-fields .text-input {
	padding: 0.5rem 1rem;
}

#contact-a button[type="submit"] {
	width: 50%;
}

#contact-b .contact-info {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	text-align: center;
}

#contact-c h1 {
	text-align: center;
	font-size: 4rem;
}

textarea {
	height: auto;
}
.form-container {
	max-width: 800px;
	margin: 5rem auto;
	padding: 1.5rem 1.5rem;
	background: rgb(10, 10, 10);
	color: white;
}
.contact-form label {
	font-size: 1rem;
}
h1 {
	margin-bottom: 1.5rem;
}
.contact-form select,
.contact-form input,
.contact-form textarea,
.contact-form button {
	resize: none;
	width: 95%;
	line-height: 1.5;
	padding: 15px 10px;
	border: 1px solid rgb(90, 90, 90);
	color: white;
	background: #242424;
	transition: background-color 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25),
		transform 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
}
/* .contact-form input {
} */
#form-button {
	width: 10rem;
	cursor: pointer;
}

#main-footer {
	background: rgb(10, 10, 10);
	color: #fff;
}
.cp-text {
	color: rgba(0, 0, 0, 0.7);
	text-shadow: 0 1px rgba(255, 255, 255, 0.1);
}
#main-footer .footer-content {
	display: flex;
	justify-content: space-between;
	height: 6rem;
	align-items: center;
	background: rgb(10, 10, 10);
}
#main-footer .footer-content .social .fab {
	margin-right: 1rem;
	border: 2px #fff solid;
	border-radius: 50%;
	height: 20px;
	width: 20px;
	line-height: 20px;
	text-align: center;
	padding: 0.5rem;
}
#main-footer .footer-content .social .fab:hover {
	background: #ff4800;
}
// footer

.footer-distributed {
	background-color: #000;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 55px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
	width: 40%;
}

/* The company logo */

.footer-distributed h3 {
	color: #ffffff;
	font: normal 36px "Cookie", cursive;
	margin: 0;
}

.footer-distributed h3 span {
	color: #5383d3;
}

/* Footer links */

.footer-distributed .footer-links {
	color: #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a {
	display: inline-block;
	line-height: 1.8;
	text-decoration: none;
	color: inherit;
}

.footer-distributed .footer-company-name {
	color: #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
	width: 35%;
}

.footer-distributed .footer-center i {
	background-color: #333;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p {
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin: 0;
}

.footer-distributed .footer-center p span {
	display: block;
	font-weight: normal;
	font-size: 14px;
	line-height: 2;
}

.footer-distributed .footer-center p a {
	color: #5383d3;
	text-decoration: none;
}

/* Footer Right */

.footer-distributed .footer-right {
	width: 20%;
}

.footer-distributed .footer-company-about {
	line-height: 20px;
	color: #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span {
	display: block;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons {
	margin-top: 25px;
}

.footer-distributed .footer-icons a {
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color: #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {
	.footer-distributed {
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right {
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i {
		margin-left: 0;
	}
}
