@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC&family=Open+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	max-width: 100%;
	/* border: 1px solid red; */
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

html {
	font-size: 62.5%;
}
body {
	font-size: 1.6rem;
	line-height: 1.5;
	font-family: "Lato", sans-serif;
	background-color: rgb(12, 12, 12);
}
section {
	padding: 2% 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	letter-spacing: 3px;
	margin: 1% 0;
	font-family: "Open Sans", sans-serif;
}
a {
	text-decoration: none;
	color: #fff;
	font-family: "Lato", sans-serif;
}

/* header nav {
	display: flex;
	justify-content: space-between;
} */

.hero {
	height: 40vh;
	background-image: url("https://images.unsplash.com/photo-1532712938310-34cb3982ef74?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
	background-size: cover;
	background-position: bottom;
	background-attachment: fixed;
}
.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.img {
	width: 45%;
	height: auto;
	margin: 2% 0;
}
@media (max-width: 500px) {
	.gallery {
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
	}
}
.one {
	background-image: url("https://scontent-sea1-1.xx.fbcdn.net/v/t1.18169-9/19247976_10158963797820319_7252567882519202454_n.jpg?_nc_cat=110&ccb=1-3&_nc_sid=730e14&_nc_ohc=0CUvq0UGUMwAX_hZXXS&_nc_ht=scontent-sea1-1.xx&oh=5279bf1fdca7541155bc2e28b732af49&oe=60FE4FFB");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	// margin: 0 4%;
}

.about {
	display: flex;
	flex-direction: row;
	margin: 10% 4%;
}

.about-info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-around;
	position: relative;
	padding-left: 4%;
	width: 50%;
	.p-wrapper {
		border-left: 1px solid rgb(223, 76, 210);
	}
	h3 {
		color: rgb(238, 235, 235);
	}

	p {
		color: rgb(238, 235, 235);
		font-size: 1rem;
		padding: 4% 0 15% 10%;
	}
	.p-one {
		padding-bottom: 4%;
	}
}

.button-wrapper {
	position: absolute;
	top: 82%;
	right: 70%;
	width: 200px;
	height: 100px;
}
.button {
	background-color: rgb(223, 76, 210); /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}
